Package: me.shymemoriees.rainbowapple-bootlogo
Name: RainbowApple-Bootlogo
Depends: mobilesubstrate, firmware(>=11)
Version: 1.0
Architecture: iphoneos-arm
Description: Rainbow Apple custom Bootlogo, HUGE THANKS TO @Flipp3rrr FOR THE IDEA.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Bootlogos
