Package: me.shymemoriees.chimera-bootlogo
Name: Chimera-BootLogo
Depends: mobilesubstrate, firmware(>=11)
Version: 1.0
Architecture: iphoneos-arm
Description: Chimera custom Bootlogo, HUGE THANKS TO @Flipp3rrr FOR THE IDEA.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Bootlogos
