Package: me.shymemoriees.unc0ver-bootlogo
Name: unc0ver-BootLogo
Depends: mobilesubstrate, firmware(>=11)
Version: 1.0
Architecture: iphoneos-arm
Description: unc0ver custom Bootlogo, HUGE THANKS TO @Flipp3rrr FOR THE IDEA.
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Bootlogos
